.SignUp__main-area {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 20px;
  margin-top: 7%;
  padding: 2.5%;
}

.SignUp__header {
  font-size: 2.125rem;
  line-height: 41px;
  text-align: center;
  font-weight: 700;
  font-family: Roboto;
  color: #2f4f4f;
  margin-bottom: 1.5%;
}

.SignUp__text-input {
  width: 100%;
}

.SignUp {
  .MuiFormControl-root-144 {
    width: 100% !important;
  }
  .MuiFormGroup-root-142 {
    width: 100% !important;
  }
}

.SignUp__button-wrapper {
  display: flex;
  justify-content: center;
  button {
    width: 70%;
  }
}

.SocialNetworkLogin {
  width: 100%;
  justify-content: center;
  text-align: center;
  button {
    width: 70%;
    justify-content: center;
    .mdi-icon {
      width: auto;
    }
  }
}

.SignUp__divider {
  margin-top: 10px;
}

.SignUp__error {
  font-family: Roboto;
  font-size: 0.85rem;
  color: red;
  margin-top: 10px;
  margin-bottom: 10px;
}
.form {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.login-text {
  margin-top: 2%;
}
