.right-align {
  margin-left: auto;
}
.left-align {
  text-align: left;
}
.vertical-align {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.rectangle-image {
  width: 250px;
  height: 250px;
}
.course-info {
  margin: 2.5%;
}
.screenshots {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 5%;
  width: 80%;
  height: 450px;
  border: 1px solid deeppink;
}
.top-row-course-info {
  margin-bottom: 2.5% !important;
}
.course-info-url {
  margin-top: 1.5%;
}
.star-ratings {
  margin-top: 20px;
}
.course-info h2 {
  margin-bottom: 1%;
}
