.right-align {
  margin-left: auto;
}
.left-align {
  text-align: left;
}
.vertical-align {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.rectangle-image {
  width: 250px;
  height: 250px;
}
.course-info {
  margin: 2.5%;
}
.screenshots {
  margin-top: 1%;
  margin-bottom: 1%;
  width: 51%;
  height: 51%;
}
.top-row-course-info {
  margin-bottom: 2.5% !important;
}
.course-info-url {
  margin-top: 2%;
}
