@import "PostComments/PostComments";
@import "PostCommentForm/PostCommentForm";

.SinglePost {
  min-height: 100vh;
  background-color: #dae0e6;
}

.SinglePost__col {
  margin: 0 auto;
}
.SinglePost__wrapper {
  background-color: #fff;
  position: relative;
  border-radius: 4px;
  font-family: "IBM Plex Sans", sans-serif;
}
.SinglePost__main-area {
  padding-top: 8px;
  background-color: rgb(255, 255, 255);

  @include for-tablet-portrait-up {
    padding-left: 40px;
  }
}

.SinglePost__side-action {
  width: 40px;
  border-left: 4px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 4px 8px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.SinglePost__upvote-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SinglePost__side-action-btn {
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  color: rgb(135, 138, 140);
  &:hover {
    color: #cc3700;
  }
}

.SinglePost__vote-amount {
  color: #1a1a1b;
  font-size: 0.75rem;
  line-height: 16px;
  font-weight: 700;
  word-break: normal;
}
.SinglePost__main-area {
  padding-right: 15px;
}
.SinglePost__main-area__post-info-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
}

.SinglePost__main-area__post-info {
  flex: 1 1 100%;
}

.SinglePost__community-wrapper {
  display: flex;
  margin: 0px 8px 8px;
  align-items: center;
}

.SinglePost__community-name {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 20px;
  color: #1c1c1c;
}

.SinglePost__author-name {
  color: #787c7e;
  font-size: 0.75rem;
  line-height: 16px;
  font-weight: 400;
  margin-left: 5px;
}

.SinglePost__post-title {
  margin: 0 8px;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 22px;
  color: #222222;
}

.SinglePost__post-description {
  font-family: "Noto Sans";
  font-size: 0.875rem;
  line-height: 21px;
  font-weight: 400;
  color: #49494b;
  margin-top: 8px;
  padding: 5px 8px 10px;
}

.SinglePost__post-additional-info {
  margin: 4px 0px;
  padding: 8px;
  padding-bottom: 0;
  display: flex;
}

.SinglePost__post-additional-info__single-item {
  word-break: normal;
  white-space: nowrap;
  min-width: 25px;
  padding: 8px;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 12px;
  color: #878a8c;
  cursor: pointer;
  user-select: none;
  transition: 0.3s all ease-in-out;
  &:hover {
    background-color: rgba(26, 26, 27, 0.1);
  }
}
