.LandingHeader {
  position: absolute;
  z-index: 99;
  width: 100%;
}

.LandingHeader__main-area {
  padding-top: 4.375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 991px) {
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.LandingHeader__brand-wrapper {
  display: flex;
  align-items: center;

  @media (max-width: 991px) {
    position: absolute;
  }
}

.LandingHeader__brand-wrapper__name {
  font-size: 25px;
  font-family: Roboto;
  font-weight: 500;
  color: #ef56bb;
  span {
    color: #ffb31c;
  }
}
.LandingHeader__nav-parent-wrapper {
  @media (max-width: 991px) {
    flex-basis: 100%;
  }
}
.LandingHeader__nav-wrapper {
  display: flex;
  align-items: center;

  transition: 0.3s all ease-in-out;
  max-height: 450px;
  @media (max-width: 991px) {
    overflow: hidden;
    background-color: #123cad;
    padding: 0 0.9375rem 1.5625rem;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    margin-top: 30px;
    z-index: 99999;
    flex-direction: column;
    text-align: left;
    flex-basis: 100%;
    flex-grow: 1;
  }
}

.LandingHeader__nav-wrapper--close {
  max-height: 0px;
}
.LandingHeader__toggle-mobile-nav-btn {
  display: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.7rem;
  @media (max-width: 991px) {
    display: inline-block;
    float: right;
  }
}
.LandingHeader__nav-item {
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  display: block;
  text-transform: capitalize;
  position: relative;
  margin-right: 1.3rem;
  color: #fff;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  position: relative;
  z-index: 99999;
  &:hover {
    color: #f057bc;
  }

  @media (max-width: 991px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.LandingHeader__nav-item--selected {
  color: #f057bc;
}

.LandingHeader__action-btn {
  cursor: pointer;
  text-transform: uppercase;
  background-image: -webkit-linear-gradient(
    -4deg,
    #3b48ef 7%,
    #2188f6 52%,
    #07c7fd 96%
  );
  font-weight: 700;
  font-size: 1rem;
  display: inline-block;
  padding: 0.8125rem 1.875rem;
  text-transform: uppercase;
  border: none;
  border-radius: 6.25rem;
  color: #fff;
  &:hover {
    background-image: none;
    background-color: #f057bc;
    color: #fff;
  }
}
