.profile-info {
  height: 100%;
  position: relative;
  padding: 2.5%;
}
.all-lists {
  margin-top: 5%;
}
.profile {
  margin: 2.5%;
  margin-left: 7.5%;
}
.bottom-div {
  position: absolute;
  bottom: 10px;
}
