.forum {
  margin: 2.5%;
}
.comment-forum form textarea {
  width: 90%;
  margin-left: 50px;
}
.comment-forum form button {
  display: block;
  margin-left: 50px;
}
.forum-thread {
  text-align: left;
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}
