@import "PractiseCard/PractiseCard";

.PractiseQuestions__header {
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-top: 40px;
  font-size: 2rem;
  line-height: 42px;
  color: #233653;
  font-weight: 500;
}
